branch-defaults:
  task-9:
    environment: cart-env
    group_suffix: null

global:
  application_name: nadzey-cart-api
  default_platform: Docker running on 64bit Amazon Linux 2023
  default_region: us-east-1
  include_git_submodules: true
  sc: git
  workspace_type: Application

option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
